.divlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.input{
    border-radius: 0.4rem;
    margin: 0.4rem;
    border: 1px solid black;
}
  
#btn-login{
    border-radius: 8rem;
    background-color: rgb(202, 100, 202);
    color: aliceblue;
    border: none;
    padding: 0.5rem;
    width: 4rem;
}

h1{
    margin-bottom: 0;
}

